<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kubbo.demo.mybatis.BlogMapper">
    <select id="selectBlog" resultType="com.kubbo.demo.mybatis.Blog">
        select * from BLOG where id = #{id}
    </select>

    <select id="selectRecentBlog" resultType="com.kubbo.demo.mybatis.Blog" >
        SELECT * FROM BLOG ORDER  BY id desc LIMIT 1
    </select>

    <delete id="deleteBlog">
        DELETE FROM BLOG WHERE id = #{id}
    </delete>


</mapper>