<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--配置文件-->
    <properties resource="mybatis/jdbc.properties" />

    <settings>
        <!--将数据库中的a_b 字段自动转成aB 这种驼峰的命名规则-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--是否开启缓存-->
        <setting name="cacheEnabled" value="true" />
    </settings>



    <!--利用注解进行alias 命名-->
    <typeAliases>
        <package name="com.kubbo.demo.mybatis" />
    </typeAliases>



    <typeHandlers>
        <typeHandler handler="com.kubbo.demo.mybatis.StringTypeHandler"/>
        <!--显示声明此句,对于enum 类型存入的是 数字，否则存入的是字符串-->
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.kubbo.demo.mybatis.BlogType" />
    </typeHandlers>
    <plugins>
        <plugin interceptor="com.kubbo.demo.mybatis.InterceptorDemo" />
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/BlogMapper.xml"/>
        <mapper class="com.kubbo.demo.mybatis.Blog2Mapper" />
    </mappers>
</configuration>